# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Nextflow
.nextflow/
.nextflow.log*

# Editor configurations
.vscode/
.idea/

# Project specific rules
/*_info*/
input/
output/
