# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Snakemake
.snakemake/

# Editor configurations
.vscode
.idea

# Project specific rules
/*_info*/
fasta/
output/
