resume = true

profiles {
    conda {
        process.conda = "${baseDir}/env/environment.yml"
    }

    singularity {
        singularity {
            enabled = true
            autoMounts = true
        }

        process.container = 'library://dialvarezs/default/tandem-substitution-simulation:latest'
    }

    docker {
        docker.enabled = true
        process.container = 'dialvarez0/tandem-substitution-simulation:latest'
    }
}
